{% extends "base.html" %}
{% load static %}

{% block page_header %}



{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row w-100 h-100 mt-5">
        <div class="col-12 text-center envelop-sent">
            <h3 class="mt-5 mb-3 contact-header">Thank you, your email has been sent.</h3>
            <p class="m-5">We will be glad to answer as soon as possible.</p>
            <i class="fas fa-envelope-square margin-tofill"></i>
        </div>
    </div>
</div>


{% endblock %}