{% extends "base.html" %}
{% load static %}

{% block page_header %}



{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row w-100 mt-5">
        <div class="col-12 d-flex flex-row justify-content-start">

            <h3 class="mt-5 mb-3 contact-header"><i class="fas fa-shipping-fast mr-3"></i>Shipping & Returns </h3>
        </div>
        <div class="col-12">
            <h4 class="mt-2">Shipping Guidelines</h4>
            <p>Due to high order volume at this time, shipping may be slightly delayed. We will do our best to process your order as quickly as possible.</p>
            
           <p>Delitaly only ships within Ireland. Please note that delays may occur due to weather, availability, or other unforeseen circumstances.</p>
            
            <h5 class="mt-5">Product And Gift Boxes</h5>
            <p>Orders placed on in-stock items before 12 p.m. Monday through Friday will ship that day. Orders placed after 12 p.m. Monday through Thursday will ship the following day. Orders placed after 12 p.m. on Friday will ship the following Monday.</p>
            
            <p>All shipping charges listed below are based on UPS Ground orders and will arrive within 2-7 business days (Sundays not included).</p>
            
            <p>We guarantee delivery only to the address you provide. Shipments that you re-direct and shipments to incorrect or incomplete addresses cannot be guaranteed to deliver on time. We do not deliver to P.O. boxes.</p>
            
            <p>Gift wrapping is not available for orders including fresh products. If you choose Gift Wrapping at check-out and your order includes both fresh and non-fresh grocery items, only the non-fresh items will be gift wrapped.</p>
            
            <h5 class="mt-5">Shipping Charges</h5>
            <p><span class="font-weight-bolder text-secondary">Free shipping</span> is offered on all UPS Ground orders over €60.</p>
            
            <h6>Standard Group Shipping</h6>
            <p>Orders with a final subtotal from €0 - €98.99 ship with a flat-rate of €9.90 per address.</p>
            
            <h6>Second Day Shipping</h6>
            <p>Add €22.90 per address.</p>

            <h6>Next Day Air</h6>
            <p>Add €35 per address.</p>
            
            <h5 class="mt-5">Deli & Dairy</h5>
            <p>To ensure freshness, we ship salumi and formaggi only with UPS Next Day Air for a €35 flat rate.* Delivery by tomorrow is only available for orders placed before 1 p.m. Monday through Thursday. Orders placed before 1 p.m. will ship out the same day. Orders placed after 1 p.m. on a Monday will ship out on a Tuesday for delivery on a Wednesday. Orders placed after 1 p.m. on Thursdays will ship out the following Monday. Orders do not ship on Saturday and Sunday. Fresh salumi and formaggi do not qualify for free shipping on orders over €99 because expedited shipping is required. Please note that Deli & Dairy ship separately from other items in your order; if you order Deli & Dairy along with other fresh or non-fresh grocery items, you will receive separate shipments.</p>
            
            <h5 class="mt-5">Receiving Instructions</h5>
            <p>Upon receipt, please place your items in the refrigerator. It is best to store your Deli & Dairy tightly wrapped in plastic wrap for best results. Enjoy your Deli & Dairy by the "best by" date listed on the package. When you prepare your starter board, don't forget to pull your Deli & Dairy from the fridge a bit before serving – they are best enjoyed at room temperature (and with a glass of wine)!</p>
  
             
            
            <h4 class="mt-5">Return Policies</h4>
            <p>At Delitaly, we take great care and pride in selecting the highest quality products for our customers. If you are not satisfied with your purchase or an item is damaged, we will find another solution. Please note that returns for items purchased online are not accepted at our brick-and-mortar stores.</p>
            
            <h5 class="mt-5">In-Store Purchases</h5>
            <p>All in-store books, housewares, and cosmetic products are eligible for an exchange within 14 days of receipt. Gift cards are non-refundable. If you have any questions, please contact our Guest Relations teams.</p>
            
            <p><span class="font-weight-bolder text-secondary">Delitaly, Cork</span>: +353 (021) 432 2357, info@delitaly.ie</p>
                     
            <h5 class="mt-5">Online Purchases</h5>
            <p><span class="font-weight-bolder text-secondary">Online purchases are not eligible for returns</span>.</p>
            <p class="mb-5">If product does not meet satisfaction, please contact customer service at +353 (021) 432 2357, info@delitaly.ie.</p>                 
            
        </div>
    </div>
</div>


{% endblock %}