<div class="row mt-5">
    <div class="col-6 mt-3">
        <img src="media/mozzarella.png" class="img-fluid" alt="mozzarella" width="250" height="auto" />
    </div>

    <div class="col-6">
        <h4>Delitaly</h4>
        <h5><i>Passionate about Italian food&wine</i></h5>
        <p>Our specialties and all our products are the result of a long tradition. We import the best
            products of the Italian tradition so that you can have the most genuine and high quality
            products.
            Take a look at our section <a href="templates/speciality.html" class="text-link"><i>Speciality</i></a> to find
            fresh products, and savor the true Italian tradition brought directly to your home.</p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 mb-5">
        <a class="main-buttons" href="templates/specility.html">Speciality</a>
    </div>
</div>




<!-- BARRA AFTER HEADER WITH CAROUSEL -->

<div class="row bg-light text-center p-4">
    <div class="col-2">
        <h5>Free Shipping</h5>
        <p>On all our Sets</p>
    </div>
    <div class="col-2">
        <h5>Loyalty Points</h5>
        <p>More orders more discounts!</p>
    </div>
    <div class="col-2">
        <h5>Order and Collect</h5>
        <p>Collect your order in our shop</p>
    </div>
    <div class="col-2">
        <h5>Gift Card</h5>
        <p>Bring Italy to someone else</p>
    </div>
    <div class="col-2">
        <h5>Discount Codes</h5>
        <p>Corporates </p>
    </div>
    <div class="col-2">
        <h5>Gift Boxes</h5>
        <p>Bring Italy to your clients</p>

    </div>
</div>