/* Boutique Ado Class */

.btn-black {
    background: #597718;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #37490f;
    color: white !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #597718;
}

.btt-link {
    cursor: pointer;
}

.btn-outline-black {
    background: none;
    color: #597718 !important;
    border: 1px solid #597718;
    border-radius: 5px !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #37490f;
    color: white !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* END Boutique Ado Class */