/* NAVBAR START */

#img-logo {
    width: 12rem;
}

.top-iconsc>i {
    color: #597718 !important;
}

a.top-iconsc:link,
a.top-iconsc:visited,
a.top-iconsc:hover,
a.top-iconsc:active {
    color: #597718 !important;
}

a.nav-link:link,
a.nav-link:visited,
a.nav-link:hover,
a.nav-link:active {
    color: #597718 !important;
}

a.nav-item:link,
a.nav-item:visited,
a.nav-item:hover,
a.nav-item:active {
    font-size: 1rem;
    color: #597718 !important;
}

a.dropdown-item:link,
a.dropdown-item:visited,
a.dropdown-item:hover,
a.dropdown-item:active {
    color: #597718 !important;
}

.top-iconsp {
    font-size: 10px !important;
    color: #597718 !important;
}

.top-iconsp-mobile {
    font-size: 12px !important;
    color: #597718 !important;
}

.full-bag,
i.full-bag {
    font-size: 20px !important;
    color: #ddbd04 !important;
}

p.full-bag {
    font-size: 10px !important;
}

.full-bag-mob,
i.full-bag-mob {
    color: #ddbd04 !important;
}



/* NAVBAR END */

.main-banner {
    background-color: #cf9d45;
    color: #ffffff !important;
}

.social-topicons {
    position: absolute;
    align-items: center;
    right: 20px;
    border: none;
}