/* NAVBAR START */

#img-logo {
    width: 12rem;
}

.top-iconsc>i {
    color: #597718 !important;
}

.top-iconsc a:link {
    color: #90A74C !important;
}

.top-iconsc a:hover {
    color: #597718 !important;
}

.top-iconsc a:visited {
    color: #90A74C !important;
}

.top-iconsp {
    font-size: 10px !important;
    color: #597718 !important;
}

.top-iconsp-mobile {
    font-size: 12px !important;
    color: #597718 !important;
}

.full-bag,
i.full-bag {
    font-size: 20px !important;
    color: #b4000F !important;
}

p.full-bag {
    font-size: 10px !important;
}

.full-bag-mob,
i.full-bag-mob {
    color: #b4000F !important;
}

.nav-link a:link {
    color: #597718!important;
}

.nav-link a:hover {
    color: #597718 !important;
}

.nav-link a:visited {
    color: #597718 !important;
}


.nav-item a:link {
    font-size: 1rem;
    color: #90A74C !important;
}

.nav-item a:hover,
a:active {
    font-weight: 600 !important;
    font-size: 1rem !important;
    color: #597718 !important;
}

.nav-item a:visited {
    font-size: 1rem !important;
    color: #90A74C !important;
}

/* NAVBAR END */

.main-banner {
    background-color: #cf9d45;
    color: #ffffff !important;
}

.social-topicons {
    position: absolute;
    align-items: center;
    right: 20px;
    border: none;
}