<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item mr-2">
            <a class="nav-link mr-4" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-4" href="{% url 'products' %}?category=pasta,olive_oil,tomatoes" id="pantry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pasta & Pantry
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pantry">
                <a href="{% url 'products' %}?category=pasta" class="dropdown-item">Pasta</a>
                <a href="{% url 'products' %}?category=olive_oil" class="dropdown-item">Olive Oil</a>
                <a href="{% url 'products' %}?category=tomatoes" class="dropdown-item">Tomatoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-4" href="{% url 'products' %}?category=deli_meats,cheese" id="deli" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deli & Dairy
            </a>

            <div class="dropdown-menu border-0" aria-labelledby="deli">
                <a href="{% url 'products' %}?category=deli_meats" class="dropdown-item">Deli Meats</a>
                <a href="{% url 'products' %}?category=cheese" class="dropdown-item">Cheese</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-4" href="{% url 'products' %}?category=snacks,sweets" id="snacks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets & Snacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snacks">
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks</a>
                <a href="{% url 'products' %}?category=sweets" class="dropdown-item">Sweets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-4" href="{% url 'products' %}?category=red_whine,white_wine" id="wines" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks & Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wines">
                <a href="{% url 'products' %}?category=red_whine" class="dropdown-item">Red Wine</a>
                <a href="{% url 'products' %}?category=white_wine" class="dropdown-item">White Wine</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-4" href="{% url 'products' %}?category=buffalo,starters" id="speciality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Speciality
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="speciality">
                <a href="{% url 'products' %}?category=buffalo" class="dropdown-item">Buffalo Mozzarella</a>
                <a href="{% url 'products' %}?category=starters" class="dropdown-item">Starters</a>
            </div>
        </li>
        <li class="nav-item d-lg-none">
            <a class="nav-link mr-4" href="{% url 'home' %}">Contact Us</a>
        </li>
    </ul>
</div>