<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div class="top-iconsc"><i class="fas fa-search fa-lg"></i></div>
            <p class="my-0 top-iconsp-mobile">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control rounded" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control rounded" type="submit">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div class="top-iconsc"><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0 top-iconsp-mobile">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-1" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <!-- Don't forget to add profiles here, see Notes -> Reminder -->
            <a href="" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div class="top-iconsc"><i class="fas fa-shopping-basket fa-lg"></i></div>
            <p class="my-0 top-iconsp-mobile">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    € 0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>