{% extends "base.html" %}
{% load static %}


{% block page_header %}
{% endblock %}




{% block content %}
<!-- Header with BRANDS -->
<div class="container-fluid">
    <div class="row bg-white text-center p-4">
        <div class="col-2">
            <img src="/media/logo/garofalo.png" class="img-fluid" alt="garofalo" width="100" height="auto" />
        </div>
        <div class="col-2">
            <img src="/media/logo/bertolli.png" class="img-fluid" alt="bertolli" width="100" height="auto" />
        </div>
        <div class="col-2">
            <img src="/media/logo/mulinobianco.png" class="img-fluid" alt="mulino bianco" width="100" height="auto" />
        </div>
        <div class="col-2">
            <img src="/media/logo/paneangeli.png" class="img-fluid" alt="paneangeli" width="100" height="auto" />
        </div>
        <div class="col-2">
            <img src="/media/logo/star.png" class="img-fluid" alt="star" width="100" height="auto" />
        </div>
        <div class="col-2">
            <img src="/media/logo/yoga.jpg" class="img-fluid" alt="yoga" width="100" height="auto" />
        </div>
    </div>
</div>


<!-- Product view -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€ {{ product.price }}</p>
                {% if product.rating %}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                    <small class="text-muted">No Rating</small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}